.profile-main {
  font-family: 'Segoe UI', sans-serif;
  color: #ffffff;
}

.profile-card {
  width: 100%;
  max-width: 700px;
  min-height: 335px;
  background: url('../../Images/profileBackground.svg') no-repeat center center;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 16px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  transition: all 0.3s ease;
}

.right-column {
  flex: 2 1 300px;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profile-review {
  width: 100%;
  max-width: 700px;
  height: 335px;
  box-sizing: border-box;
}

.left-column {
  flex: 1 1 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.right-column {
  flex: 2 1 300px;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  margin: 15px 0;
}

.section-title {
  color: #44D293;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 0.5rem;
}

.chip {
  background-color: #ffffff;
  color: #333;
  padding: 8px 14px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
}

.chip-labels {
  background-color: #f1f1f1;
  color: #111;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}

hr.dashed {
  border-top: 1px solid #44D293;
  margin-top: 20px;
}


.circulos-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin-top: 20px;
}

.circulo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
}

.circulo-nombre {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.circulo-valor {
  font-size: 13px;
  color: #555;
}
