body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', sans-serif;
  color: white;
}

.perfil-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-right: 2.5%;
  margin-left: 2.5%;
  padding: 30px;
  color: white;
}

.perfil {
  width: 100%;
  max-width: 700px;
  height: 700px;
  background: url('../../Images/profileBackground.svg') no-repeat center center;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-top-right-radius: 105px;
  border-top-left-radius: 105px;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 70px;
  padding: 20px;
  box-sizing: border-box;
  display: block;
  text-align: center;
}

.avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.perfil-datos {
  font-size: 16px;
  color: #fff;
}

.historial {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #27C39F;
}

.top-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 768px) {
  .perfil-container {
    flex-direction: row;
  }

  .perfil {
    flex: 1;
  }

  .historial {
    flex: 2;
  }

  .top-bar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.review {
  background-color: #43BF98;
  color: black;
  border-radius: 8px;
  padding: 16px;
  margin: 1px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  font-family: 'Inter', sans-serif;
}

.review-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 0px;
}

.review-wrapper {
  display: flex;
  gap: 18px;
  align-items: center;
}

@media (min-width: 600px) {
  .review-info {
    flex-direction: row;
  }
}

.mini-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.perfil-nombreProfesor {
  margin-bottom: 7px;
}

.contenido {
  flex: 1;
  font-size: 14px;
}

.comentario {
  background-color: #d1fae5;
  padding: 10px 14px;
  border-radius: 12px;
  font-size: 15px;
  max-width: 96%;
  margin-top: -5px;
  margin-bottom: 12px;
}

.tags {
  margin-top: 6px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tags span {
  background-color: white;
  color: #334155;
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 13px;
  font-weight: 500;
}

.perfil-contenido-right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  padding-right: 25px;
  padding-left: 16px;
}

.perfil-emoji {
  font-size: 35px;
  margin-bottom: -7px;
}

.editar-boton-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-left: 10px;
  justify-content: flex-start;
}

.editar {
  width: 150px;
  top: 10px;
  right: 12px;
  font-size: 14px;
  background: rgb(0, 135, 135);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 4px 10px;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.editar:hover {
  background-color: rgb(0, 95, 95);
  color: white;
  transform: translateY(-2px);
  box-shadow:
    0px 1px 2px 1px rgba(0, 0, 0, 0.15),
    0px 2px 2px 1px rgba(0, 0, 0, 0.30);
}

.perfil-numberbox {
  padding: 3px 6px;
  border: 1px solid grey;
  border-radius: 10px;
  width: 60px;
}

.perfil-textbox {
  padding: 9px 14px;
  border: 1px solid grey;
  border-radius: 14px;
  width: 96%;
  font-size: 15px;
  margin-top: -10px;
  margin-bottom: -5px;
}

.perfil-guardar,
.perfil-cancelar {
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  color: white;
  margin-bottom: 12px;
}

.perfil-guardar {
  background-color: rgb(56, 116, 235);
}

.perfil-cancelar {
  background-color: rgb(255, 40, 40);
}

.perfil-guardar:hover {
  background-color: rgb(0, 66, 198);
  color: white
}

.perfil-cancelar:hover {
  background-color: rgb(195, 0, 0);
  color: white;
}